:root {
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-primary-1: hsl(205, 86%, 17%);
    --color-gray:rgb(216, 213, 213);
    --box-shadow-value:1px 1px 4px rgba(0, 0, 0, 0.5);
    --color-one:rgb(26, 177, 247);
    --color-two:rgb(15, 124, 175);
    --color-three:rgb(223, 85, 85);
    --color-four:rgb(145, 29, 29);
    --color-five:rgba(94, 90, 90, 0.938);
}

* , *::before , *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-grey-10);
    min-height: 50vh;
    display: grid;
    place-items: center;
}

p {
    margin-block: 0;
}

.form_container {
    padding: 3rem 3rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow-value);
    background-color: white;
    text-align: center;
}

.warning_text {
    font-weight: lighter;
    width: 100%;
    display: none;
}

.reveal {
    display: inline-block !important;
}

h1 {
    letter-spacing: 2px;
    color: var(--clr-primary-1);
    margin-block-start: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
}

form > * {
    border: none;
    padding: 4px 10px;
    font-size: 1.25rem;
    display: inline-block;
}

input {
    background-color: var(--color-gray);
    border-radius: 5px 0 0 5px;
    color: var(--color-five);
}

#submit {
    border-radius: 0 5px 5px 0;
    background-color: var(--color-one);
}

#submit:hover {
    background-color:var(--color-two) ;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 6px 15px;
    border-radius: 5px;
}

.item:hover {
    background-color: var(--clr-grey-10);
}

.user_content {
    letter-spacing: 2px;
    font-size: large;
    text-align: left;
    width: 100%;
}

.user_content:hover {
    color: var(--color-two);
}

.link_container {
    display: flex;
    gap: 17px;
}

a {
    display: none;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    cursor: pointer;
}

.edit_link {
    color: #37db37;
}

.delete_link {
    color: rgb(216, 98, 98);
}

.clear_btn {
    margin-block-start: 1.25rem;
    border: 0;
    background-color: inherit;
    letter-spacing: 2.2px;
    color: var(--color-three);
    display: none;
}

.clear_btn:hover {
    cursor: pointer;
    color: var(--color-four);
}