:root{
    --mainColor : #c59d5f;
    --googleFontFamily1 :  'Dancing Script', cursive;
    --googleFontFamily2 :  'Roboto Mono', monospace;;
    --colorOne:hsl(210, 36%, 96%);
    --balckVariant:rgba(0, 0, 0, 0.288);
}

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--colorOne);
    padding: 1.5rem;
}

header{
    width: 100%;
    font-family: var(--googleFontFamily1);
    color: var(--mainColor);
    text-align: center;
    font-size: 1.5rem;
}

p{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 1px 2px var(--balckVariant);
    font-family: var(--googleFontFamily2);
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.sign_container{
    display: inline-block;
    border: solid 2px var(--mainColor);
    width: auto;
    height: fit-content;
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 900;
}

@media (max-width:343px) {
    p{
        flex-direction: column;
        gap: 20px;
    }

    .sign_container{
        align-self: flex-start;
    }
}

@media (max-width:193px){
    p{
        padding: 5px;
        font-size: smaller;
    }

    .sign_container{
        align-self: center;
    }
}

